@model Hanyokessai.Models.Ta300Dto
@{ ViewData["Title"] = "テンプレート照会"; }
<script type="text/javascript">
    function deleteConfirm() {
        var deleteFlg = confirm("削除でよろしいでしょうか？");
        if (deleteFlg == true) {
            $("#deleteForm").submit();
        }
    };
    </script>
<style>
    .table-powder-blue {
        background-color: #bedbe9
    }
    .border-hidden {
        border-right: hidden !important;
        border-left: hidden !important;
    }
    .table-haba {
        width: 15% !important
    }
    .button-align {
        margin-left:350px;
        margin-bottom:50px
    }
    .table-height {
        padding-bottom:0px !important
    }
</style>
<div class="container rounded-lg p-3">
    <h3 class="float-left text-justify align-bottom">■テンプレート照会</h3>
    <form class="form-horizontal" method="post" asp-controller="Ta300" asp-action="event_TmpDownload">
        <input type="hidden" name="templete_id" asp-for="@Model.templete_id">
        <input type="hidden" asp-for="@Model.file_name" />
        <input type="hidden" asp-for="@Model.file_binary" />
        <input type="hidden" asp-for="@Model.templete_file_size" />
        <table class="table table-bordered text-center align-middle" colspan='6'>
            <tr>
                <td class="border-hidden table-height" colspan="6" style="border-top:hidden">
                    <p class="float-left text-justify align-bottom" >【テンプレートの基本情報】</p>
                    <button type="submit" class="btn btn-sm btn-outline-primary" style="margin-left:72%">ダウンロード</button>
                </td>
            </tr>
            <tr>
                <th class="table-powder-blue table-haba">
                    テンプレート名
                </th>
                <td colspan="2">@Model.templete_name</td>
                <th class="table-powder-blue table-haba">
                    ファイル名
                </th>
                <td colspan="2">@Model.file_name</td>
            </tr>
            <tr>
                <td class="border-hidden table-height" colspan="6">
                    <p class="float-left text-justify align-bottom">【作成者】</p>
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba" rowspan="2">
                    会社コード
                </td>
                <td rowspan="2">
                    @Model.reg_com_cd
                </td>
                <td class="table-powder-blue table-haba">
                    所属
                </td>
                <td>
                    @Model.reg_dep1_cd @Model.reg_dep2_cd
                </td>
                <td class="table-powder-blue table-haba">
                    職位
                </td>
                <td>
                    @Model.reg_pos_cd
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    作成者
                </td>
                <td>
                    @Model.reg_member_fistname @Model.reg_member_lastname
                </td>
                <td class="table-powder-blue table-haba">
                    作成日付
                </td>
                <td>
                    @Model.reg_date
                </td>
            </tr>
            <tr>
                <td class="border-hidden table-height" colspan="6">
                    <p class="float-left text-justify align-bottom">【更新者】</p>
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba" rowspan="2">
                    会社コード
                </td>
                <td rowspan="2">
                    @Model.upd_com_cd
                </td>
                <td class="table-powder-blue table-haba">
                    所属
                </td>
                <td>
                    @Model.upd_dep1_cd @Model.upd_dep2_cd
                </td>
                <td class="table-powder-blue table-haba">
                    職位
                </td>
                <td>
                    @Model.upd_pos_cd
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    作成者
                </td>
                <td>
                    @Model.upd_member_fistname @Model.upd_member_lastname
                </td>
                <td class="table-powder-blue table-haba">
                    作成日付
                </td>
                <td>
                    @Model.upd_date
                </td>
            </tr>
            <tr>
                <td class="border-hidden table-height" colspan="6">
                    <p class="float-left text-justify align-bottom">【決裁順番、押印位置】</p>
                </td>
            </tr>
            <tr class="table-powder-blue table-haba">
                <td>
                    決裁順番
                </td>
                <td style="width:20%">
                    押印者
                </td>
                <td colspan="3">
                    決裁者Email
                </td>
                <td>
                    押印位置
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    起案者
                </td>
                <td>
                    -
                </td>
                <td colspan="3">
                    -
                </td>
                <td>
                    @Model.approval_place_start
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    決裁１
                </td>
                <td>
                    @Model.approval_status1
                </td>
                <td colspan="3">
                    @Model.approval_mail1
                </td>
                <td>
                    @Model.approval_place1
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    決裁２
                </td>
                <td>
                    @Model.approval_status2
                </td>
                <td colspan="3">
                    @Model.approval_mail2
                </td>
                <td>
                    @Model.approval_place2
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    決裁３
                </td>
                <td>
                    @Model.approval_status3
                </td>
                <td colspan="3">
                    @Model.approval_mail3
                </td>
                <td>
                    @Model.approval_place3
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    決裁４
                </td>
                <td>
                    @Model.approval_status4
                </td>
                <td colspan="3">
                    @Model.approval_mail4
                </td>
                <td>
                    @Model.approval_place4
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    決裁５
                </td>
                <td>
                    @Model.approval_status5
                </td>
                <td colspan="3">
                    @Model.approval_mail5
                </td>
                <td>
                    @Model.approval_place5
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    決裁６
                </td>
                <td>
                    @Model.approval_status6
                </td>
                <td colspan="3">
                    @Model.approval_mail6
                </td>
                <td>
                    @Model.approval_place6
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    決裁７
                </td>
                <td>
                    @Model.approval_status7
                </td>
                <td colspan="3">
                    @Model.approval_mail7
                </td>
                <td>
                    @Model.approval_place7
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    決裁８
                </td>
                <td>
                    @Model.approval_status8
                </td>
                <td colspan="3">
                    @Model.approval_mail8
                </td>
                <td>
                    @Model.approval_place8
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    決裁９
                </td>
                <td>
                    @Model.approval_status9
                </td>
                <td colspan="3">
                    @Model.approval_mail9
                </td>
                <td>
                    @Model.approval_place9
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    決裁１０
                </td>
                <td>
                    @Model.approval_status10
                </td>
                <td colspan="3">
                    @Model.approval_mail10
                </td>
                <td>
                    @Model.approval_place10
                </td>
            </tr>
            <tr>
                <td class="border-hidden table-height" colspan="6">
                    <p class="float-left text-justify align-bottom">【最終決裁者】</p>
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    最終決裁者
                </td>
                <td>
                    @Model.approval_status_last
                </td>
                <td colspan="3">
                    @Model.approval_mail_last
                </td>
                <td>
                    @Model.approval_place_last
                </td>
            </tr>
            <tr>
                <td class="border-hidden table-height" colspan="6">
                    <p class="float-left text-justify align-bottom">【テンプレート詳細内容】</p>
                </td>
            </tr>
            <tr>
                <td class="table-powder-blue table-haba">
                    テンプレート<br>
                    詳細内容
                </td>
                <td colspan="5" style="text-align:left">
                    @Model.templete_detail
                </td>
            </tr>
        </table>
    </form>
    <div class="button-align">
        <form class="form-horizontal" method="post" asp-controller="Ta300" asp-action="event_Modify">
            <input type="hidden" name="templete_id" asp-for="@Model.templete_id">
            <input type="submit" value="修正" class="btn btn-light btn-outline-dark btn-block" style="width:15%; float:left">
        </form>
        <form class="form-horizontal" method="post" asp-controller="Ta300" asp-action="event_Delate" id="deleteForm">
            <input type="hidden" name="templete_id" asp-for="@Model.templete_id">
            <input type="button" value="削除" class="btn btn-light btn-outline-dark btn-block" style="width:15%; margin-left:50px; float:left" onclick="deleteConfirm()">
        </form>
        <a class="btn btn-light btn-outline-dark btn-block" asp-controller="Ta300" asp-action="event_Cancel" style="width:15%; margin-left:50px; float:left">戻る</a>
    </div>
</div>
