@model Hanyokessai.Models.Za300Dto
@{ ViewData["Title"] = "会員加入"; }
<head>
    <style>
        .inputInfo {
            width: 313pt;
            height: 40pt;
        }

        .inputInfo2 {
            width: 150pt;
            height: 40pt;
        }

        .inputTable {
            padding-left: 14px;
        }

        .verifyEmail {
            padding-left: 40px;
            position: absolute;
            top: 4px;
        }

        .registor {
            transform: translate(30%,0%);
        }
    </style>
</head>
<body>
        <h1 class="registor">会員加入</h1>
        <div class="registor">
            <br>
            @{ for (var i = 0; i < @Model.errorMessege.Count(); i++)
                {
                    <ul calss="verifyEmail"><li type="disc">@Model.errorMessege[i]</li></ul> }
             }
            @Html.ValidationSummary()
        <form class="form-horizontal" method="post" asp-controller="Za300" asp-action="event_Register" enctype="multipart/form-data">
            <input type="hidden" class="form-control" asp-for="txtId" maxlength="10">
            <input type="hidden" class="form-control" asp-for="txtAuthorityCode" maxlength="1">
            <input type="hidden" class="form-control" asp-for="txtStampCode">
            <input type="hidden" class="form-control" asp-for="txtRegisterId">
            <input type="hidden" class="form-control" asp-for="txtRegisterDay">
            <input type="hidden" class="form-control" asp-for="txtDelCode">
            <table>
                <tr>
                    <td><b class='label'>メール</b></td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="メール" asp-for="txtMail" class="inputInfo" maxlength="50"></td>
                </tr>
                <tr>
                    <td><b class='label'>パスワード</b></td>
                </tr>
                <tr>
                    <td><input type="password" placeholder="パスワード" asp-for="txtPwd" class="inputInfo" maxlength="15"></td>
                </tr>
                <tr>
                    <td><input type="password" placeholder="パスワード確認" asp-for="txtPwdConfirm" class="inputInfo" maxlength="15"></td>
                </tr>
                <tr>
                    <td><b class='label'>会員名_カナ</b></td>
                </tr>
                <tr>
                    <td colspan='2'>
                        <input type="text" placeholder="ｾｲ" asp-for="txtKanaFirstName" class="inputInfo2" maxlength="30">
                        <input type="text" placeholder="ﾒｲ" asp-for="txtKanaLastName" class="inputInfo2" maxlength="30">
                    </td>
                </tr>
                <tr>
                    <td><b class='label'>会員名_漢字</b></td>
                </tr>
                <tr>
                    <td colspan='2'>
                        <input type="text" placeholder="姓" asp-for="txtKanjiFirstName" class="inputInfo2" maxlength="30">
                        <input type="text" placeholder="名" asp-for="txtKanjiLastName" class="inputInfo2" maxlength="30">
                    </td>
                </tr>
                <tr>
                    <td><b class='label'>会員名_英語</b></td>
                </tr>
                <tr>
                    <td colspan='2'>
                        <input type="text" placeholder="first name" asp-for="txtEngFirstName" class="inputInfo2" maxlength="30">
                        <input type="text" placeholder="last name" asp-for="txtEngLastName" class="inputInfo2" maxlength="30">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b class='label'>性別</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select class="inputInfo" asp-for="txtGender">
                            <option value="1"> 男性 </option>
                            <option value="2"> 女性 </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b class='label'>携帯番号</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="123-1234-1234" asp-for="txtPhone" class="inputInfo" maxlength="13">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b class='label'>郵便番号</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="123-1234" asp-for="txtZipcode" class="inputInfo" maxlength="8">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b class='label'>住所</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="住所" asp-for="txtAddress" class="inputInfo" maxlength="150">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b class='label'>会社名</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select asp-for="txtCompanyCode" class="inputInfo">
                            @for (var i = 0; i < Model.txtComCdList.Count(); i++)
                            {
                                <option value="@Model.txtComCdList[i]">@Model.txtComCdList[i]</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b class='label'>所属</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td colspan='2'>
                                    <select asp-for="txtDepartment1" class="inputInfo2">
                                    @for (var i = 0; i < Model.txtDep1CdList.Count(); i++)
                                    {
                                        <option value="@Model.txtDep1CdList[i]">@Model.txtDep1NameList[i]</option>
                                    }
                                    </select>
                                    <select asp-for="txtDepartment2" class="inputInfo2">
                                    @for (var i = 0; i < Model.txtDep2CdList.Count(); i++)
                                    {
                                        <option value="@Model.txtDep2CdList[i]">@Model.txtDep2CdNameList[i]</option>
                                    }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b class='label'>職位</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select asp-for="txtPosition" class="inputInfo">
                            @for (var i = 0; i < Model.txtComPosCdList.Count(); i++)
                            {
                                <option value="@Model.txtComPosCdList[i]">@Model.txtComPosCdNameList[i]</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b class='label'>入社日</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="date" placeholder="入社日" max="9999-12-31" asp-for="txtEnterDate" class="inputInfo">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b class='label'>押印情報有無</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <input type="file" class="btn btn-outline-warning btn-block" asp-for="imgStamp" placeholder="アップロード" name="imgStamp">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="btn btn-light btn-outline-dark btn-block " asp-controller="Za300" asp-action="event_Cancel">キャンセル</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="会員登録" class="btn btn-light btn-outline-dark btn-block">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>