@model Hanyokessai.Models.Ka100Dto

@using Microsoft.AspNetCore.Http
@{ ViewData["Title"] = "Ka100"; }

<html lang="en">

<body>
    <p class="h1 m-3" style="text-align:left">決裁管理＿全体</p>
    <div style="text-align:right">
        @*決裁管理一覧画面に戻る*@
        <a class="btn btn-info" asp-area="" asp-controller="Ka200" asp-action="event_Initial">
            閉じる
        </a>
    </div>
    <div class="container">
        @*間隔調整の為空白追加*@
        <div class="my-box mb-4"></div>
        <div class="row">
            <div class="border border-dark col-md-4" style="background-color: rgb(79,129,189)">
                決裁管理_決裁待ち
            </div>
            <div class="border border-dark border-left-0 col-md-2" style="text-align:center">
                @Model.approvalWaitNum 件
            </div>
        </div>
        @*間隔調整の為空白追加*@
        <div class="my-box mb-4"></div>
        <div class="row">
            <div class="border border-dark col-md-4" style="background-color: rgb(79,129,189)">
                決裁管理_決裁済み
            </div>
            <div class="border border-dark border-left-0 col-md-2" style="text-align:center">
                @Model.approvedNum 件
            </div>
        </div>
        @*間隔調整の為空白追加*@
        <div class="my-box mb-4"></div>
        <div class="row">
            <div class="border border-dark col-md-4" style="background-color: rgb(79,129,189)">
                決裁管理_却下
            </div>
            <div class="border border-dark border-left-0 col-md-2" style="text-align:center">
                @Model.approvalRejectNum 件
            </div>
        </div>
        @*間隔調整の為空白追加*@
        <div class="my-box mb-4"></div>
        <div class="row">
            <div class="border-dark col-md-4 border" style="padding:0px;background-color:rgb(79,129,189)">
                @*背景色設定とカラム定義div分離(「決裁管理＿完了」カラムのように長い一つのカラムに
                    垂直中央揃と背景色同時に設定するとどちらかが仕様通りにならない(カラムのサイズが縮むとか揃えにならないとか))*@
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 align-self-center">決裁管理＿完了</div>
                        <div class="col-md-4" style="padding:0px;text-align:center">
                            <div class="short-div border-dark border-left border-bottom">
                                今月
                            </div>
                            <div class="short-div border-dark border-left">
                                全体
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" style="padding:0px;text-align:center">
                <div class="border border-dark border-left-0 short-div">
                    @Model.approvalComplMonNum 件
                </div>
                <div class="border border-dark border-left-0 border-top-0 short-div">
                    @Model.approvalComplTotNum 件
                </div>
            </div>
        </div>
    </div>
</body>
</html>