@{
    ViewData["Title"] = "Ca200";
}
@model Hanyokessai.Models.Ca200Dto
<head>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <!--却下の場合、タイトルは「帳票再作成」-->
    @if (Model.rejectFlg == true)
    {
        <h3 class="display-4">帳票再作成</h3>
    }
    else if (Model.rejectFlg == false)
    {<!--却下以外の場合、タイトルは「帳票修正」-->
        <h3 class="display-4">帳票修正</h3>
    }


    <form class="form-horizontal" align="left" method="post" name="writeForm" enctype="multipart/form-data">
        <div>
            <table width="100%">
                <tr>
                    <th align="left">・帳票アップロード</th>
                </tr>
                <tr>
                    <td style="background-color:#CEECF5" width="16%">帳票ファイル</td>
                    <!--ファイルアップロード処理-->
                    <td width="84%">
                        <div class="custom-file form-group">
                            <input type="file" class="btn btn-outline-warning btn-block" id="reportFile" asp-for="reportFile" placeholder="アップロード" name="reportFile" style="overflow:hidden" accept=".xls,.xlsx,.xlsm">
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <br />

        <div>
            <table width="100%">
                <tr>
                    <th align="left">・基本情報</th>
                </tr>
                <tr>
                    <td style="background-color:#CEECF5" asp-for="reportFile" width="15%"><label>テンプレート名</label></td>
                    <td colspan="7">
                        <label>@Model.templeteName</label>
                    </td>
                </tr>

                <tr>
                    <td style="background-color:#CEECF5; width:10%"><label>会社名</label></td>
                    <td style="width: 10%"><label>@Model.lbComName</label></td>
                    <td style="background-color:#CEECF5; width:10%"><label>所属1</label></td>
                    <td width="15%"><label>@Model.lbDep1</label></td>
                    <td style="background-color:#CEECF5" width="10%"><label>所属2</label></td>
                    <td width="15%"><label>@Model.lbDep2</label></td>
                    <td style="background-color:#CEECF5" width="10%"><label>職位</label></td>
                    <td width="10%"><label>@Model.lbPos</label></td>
                </tr>
                <tr>
                    <td style="background-color:#CEECF5"><label>作成者名</label></td>
                    <td><label>@Model.lbAuthorName</label></td>
                    <td style="background-color:#CEECF5"><label>決裁予定日</label></td>
                    <td><label>@Model.lbPlanYmd</label></td>
                </tr>
            </table>
        </div>

        <br />

        <div>
            <table width="100%">
                <tr>
                    <th align="left">・帳票情報</th>
                </tr>
                <tr>
                    <td style="background-color:#CEECF5" width="10%"><label>帳票名</label></td>
                    <td><input style="width:100%" id="ibReportName" type="text" asp-for="txtReportName" maxlength="50" value="@Model.lbReportName" /></td>
                </tr>
                <tr>
                    <td style="background-color:#CEECF5" width="10%"><label>特異事項</label></td>
                    <td width="150" height="300">
                        <textarea style="width:100%; height:100%" id="ibReportName" asp-for="txtReportDetail" maxlength="500" value="@Model.lbReportDetail"></textarea>
                    </td>
                </tr>
            </table>

        </div>
        <br />
        <div>

            <table>
                <tr>
                    <th align="left">・決裁順番、押印位置</th>
                </tr>
            </table>
            <table width="100%" border="1" bordercolor="black">

                <tr>
                    <th align="center" style="background-color:#CEECF5" width="20%">押印順番</th>
                    <th align="center" style="background-color:#CEECF5" width="30%">押印者</th>
                    <th align="center" style="background-color:#CEECF5" width="30%">メール</th>
                    <th align="center" style="background-color:#CEECF5" width="20%">押印位置</th>
                </tr>
                <!--決裁1のメールがあるの場合、表示する-->
                @if (@Model.lbAprvMail1 != "" && @Model.lbAprvMail1 != null)
                {
                    <tr>
                        <td style="background-color:#CEECF5" align="center">@Model.lbAprvNum1</td>
                        <td align="left">@Model.lbApprover1</td>
                        <td align="left"><input type="text" asp-for="txtAprvMail1" style="width:100%" value="@Model.txtAprvMail1" /> </td>
                        <td align="center">@Model.lbAprvPlc1</td>
                    </tr>
                }
                <!--決裁2のメールがあるの場合、表示する-->
                @if (@Model.lbAprvMail2 != "" && @Model.lbAprvMail2 != null)
                {
                    <tr>
                        <td style="background-color:#CEECF5" align="center">@Model.lbAprvNum2</td>
                        <td align="left">@Model.lbApprover2</td>
                        <td align="left"><input type="text" asp-for="txtAprvMail2" style="width:100%" value="@Model.txtAprvMail2" /> </td>
                        <td align="center">@Model.lbAprvPlc2</td>
                    </tr>
                }
                <!--決裁3のメールがあるの場合、表示する-->
                @if (@Model.lbAprvMail3 != "" && @Model.lbAprvMail3 != null)
                {
                    <tr>
                        <td style="background-color:#CEECF5" align="center">@Model.lbAprvNum3</td>
                        <td align="left">@Model.lbApprover3</td>
                        <td align="left"><input type="text" asp-for="txtAprvMail3" style="width:100%" value="@Model.txtAprvMail3" /> </td>
                        <td align="center">@Model.lbAprvPlc3</td>
                    </tr>
                }
                <!--決裁4のメールがあるの場合、表示する-->
                @if (@Model.lbAprvMail4 != "" && @Model.lbAprvMail4 != null)
                {
                    <tr>
                        <td style="background-color:#CEECF5" align="center">@Model.lbAprvNum4</td>
                        <td align="left">@Model.lbApprover4</td>
                        <td align="left"><input type="text" asp-for="txtAprvMail4" style="width:100%" value="@Model.txtAprvMail4" /> </td>
                        <td align="center">@Model.lbAprvPlc4</td>
                    </tr>
                }
                <!--決裁5のメールがあるの場合、表示する-->
                @if (@Model.lbAprvMail5 != "" && @Model.lbAprvMail5 != null)
                {
                    <tr>
                        <td style="background-color:#CEECF5" align="center">@Model.lbAprvNum5</td>
                        <td align="left">@Model.lbApprover5</td>
                        <td align="left"><input type="text" asp-for="txtAprvMail5" style="width:100%" value="@Model.txtAprvMail5" /> </td>
                        <td align="center">@Model.lbAprvPlc5</td>
                    </tr>
                }
                <!--決裁6のメールがあるの場合、表示する-->
                @if (@Model.lbAprvMail6 != "" && @Model.lbAprvMail6 != null)
                {
                    <tr>
                        <td style="background-color:#CEECF5" align="center">@Model.lbAprvNum6</td>
                        <td align="left">@Model.lbApprover6</td>
                        <td align="left"><input type="text" asp-for="txtAprvMail6" style="width:100%" value="@Model.txtAprvMail6" /> </td>
                        <td align="center">@Model.lbAprvPlc6</td>
                    </tr>
                }
                <!--決裁7のメールがあるの場合、表示する-->
                @if (@Model.lbAprvMail7 != "" && @Model.lbAprvMail7 != null)
                {
                    <tr>
                        <td style="background-color:#CEECF5" align="center">@Model.lbAprvNum7</td>
                        <td align="left">@Model.lbApprover7</td>
                        <td align="left"><input type="text" asp-for="txtAprvMail7" style="width:100%" value="@Model.txtAprvMail7" /> </td>
                        <td align="center">@Model.lbAprvPlc7</td>
                    </tr>
                }
                <!--決裁8のメールがあるの場合、表示する-->
                @if (@Model.lbAprvMail8 != "" && @Model.lbAprvMail8 != null)
                {
                    <tr>
                        <td style="background-color:#CEECF5" align="center">@Model.lbAprvNum8</td>
                        <td align="left">@Model.lbApprover8</td>
                        <td align="left"><input type="text" asp-for="txtAprvMail8" style="width:100%" value="@Model.txtAprvMail8" /> </td>
                        <td align="center">@Model.lbAprvPlc8</td>
                    </tr>
                }
                <!--決裁9のメールがあるの場合、表示する-->
                @if (@Model.lbAprvMail9 != "" && @Model.lbAprvMail9 != null)
                {
                    <tr>
                        <td style="background-color:#CEECF5" align="center">@Model.lbAprvNum9</td>
                        <td align="left">@Model.lbApprover9</td>
                        <td align="left"><input type="text" asp-for="txtAprvMail9" style="width:100%" value="@Model.txtAprvMail9" /> </td>
                        <td align="center">@Model.lbAprvPlc9</td>
                    </tr>
                }
                <!--決裁10のメールがあるの場合、表示する-->
                @if (@Model.lbAprvMail10 != "" && @Model.lbAprvMail10 != null)
                {
                    <tr>
                        <td style="background-color:#CEECF5" align="center">@Model.lbAprvNum10</td>
                        <td align="left">@Model.lbApprover10</td>
                        <td align="left"><input type="text" asp-for="txtAprvMail10" style="width:100%" value="@Model.txtAprvMail10" /> </td>
                        <td align="center">@Model.lbAprvPlc10</td>
                    </tr>
                }
                <tr>
                    <td align="center" style="background-color:#CEECF5" width="20%">最終決裁者</td>
                    <td align="left" width="30%">@Model.fnApprover</td>
                    <td align="left" width="30%"><input type="text" asp-for="txtFnAprvMail" style="width:100%" value="@Model.txtFnAprvMail" /></td>
                    <td align="center">@Model.fnAprvPlc</td>
                </tr>
            </table>

        </div>
        <br />
    </form>
    <div align="right">
        <div style="display:inline">
            <form style="display:inline">
                <!--却下の場合、「再登録」ボタンが表示する-->
                @if (Model.rejectFlg == true)
                {
                    <input type="hidden" class="form-control" name="reportID" asp-for="@Model.reportID">
                    <input type="hidden" class="form-control" name="templeteID" asp-for="@Model.templeteID">
                    <input type="hidden" class="form-control" name="binaryFile" asp-for="@Model.binaryFile">
                    <button class="btn btn-info" id="btnApvl" type="submit" style="width:100px" asp-controller="Ca200" asp-action="Report_Reregister">再登録</button>
                }
                else if (Model.rejectFlg == false)
                {<!--却下以外の場合、「修正」ボタンが表示する-->
                    <input type="hidden" class="form-control" name="reportID" asp-for="@Model.reportID">
                    <input type="hidden" class="form-control" name="templeteID" asp-for="@Model.templeteID">
                    <input type="hidden" class="form-control" name="binaryFile" asp-for="@Model.binaryFile">
                    <button class="btn btn-outline-primary" id="btnApvl" type="submit" asp-controller="Ca200" asp-action="Report_Modify">修正</button>
                }
            </form>
            <button data-toggle="modal" data-target="#reportCancel_@Model.reportID" class="btn btn-info">キャンセル</button>
            <div class="modal fade" role="dialog" id="reportCancel_@Model.reportID">

                <div class="modal-dialog">
                    <form method="post" asp-controller="Ca200" asp-action="Report_Cancel">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="h5 text-md-left" id="modalTitle">帳票修正キャンセル</p>
                                <a href="#" class="close text-right" data-dismiss="modal">&times;</a>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger" style="text-align:center;">キャンセルしてもよろしいでしょうか？</div>
                                <div class="text-center">
                                    <input type="hidden" class="form-control" name="reportID" asp-for="@Model.reportID">
                                    <input type="hidden" class="form-control" name="templeteID" asp-for="@Model.templeteID">
                                    <button type="submit" class="btn btn-outline-danger">はい</button>
                                    <a role="button" class="btn btn-outline-info" data-dismiss="modal" href="#">いいえ</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript">
    $("#ibReportName").bind("keyup", function () {
        re = /[\[\]."/;:|¥￥=,]/gi;
        var temp = $("#ibReportName").val();
        if (re.test(temp)) {
            $("#ibReportName").val(temp.replace(re, ""));
        }
    });
</script>
