@using Hanyokessai.Models
@model IEnumerable<Ka200Dto>

<head>
    <style>

        table th {
            border: 1px solid black !important;
            text-align: center;
        }

        table tr {
            border: 1px solid black !important;
        }

        kisu {
            background-color: rgb(220,230,241) !important;
            font-size: 10px;
        }

        table td {
            border: 1px solid black !important;
            text-align: left;
        }
    </style>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
</head>
@{
    string Disabled = "";
    if (@TempData["Disabled"] != null) {

        if (@TempData["Disabled"].ToString() == "Disabled")
        {
            Disabled = "pointer-events: none;";
        }
    }
}
<body>
    <div class="text-left">
        <h5><b>決裁管理一覧</b></h5>
    </div>

    <div style="width:40%; border:1px solid black; padding:10px; @Disabled">
        <form method="post" asp-controller="Ka200" asp-action="event_Serch">
            <div>
                <span>作成者E-mail</span>
                <input type="text" name="email" class="inputInfo2" maxlength="30">
                <a class="btn btn-primary" style="float:right; width:100px;" asp-controller="Ka200" asp-action="event_Toukei">全体統計</a>
            </div>
            <br>
            <div>
                <span>ステータス</span>
                <select name="selectBox" onchange="chageLangSelect(this)">
                    <option value="option1">決裁待ち</option>
                    <option value="option2">決裁済み</option>
                    <option value="option3">決裁完了</option>
                    <option value="option4">決裁却下</option>
                    <option value="option5">--------</option>
                </select>
                <label style="margin-left:5px"><input style="margin-left:5px" type="checkbox" id="kesainomi" name="checkBox" value="true" checked>決裁のみ</label>
                <button id="btnSrch" name="Srch" type="submit" class="btn btn-primary" style="float:right;width:100px;">検索</button>

            </div>
        </form>
    </div>
    <br>
    <div>
        <center>
            @if(@TempData["gaitoY"] != null){ 
            <label style="font-size: 25px;shape-margin: 0;">@TempData.Peek("gaitoY")</label>
            }
            <a class="btn-primary" id="buttonbackground" style="font-size: 25px; @Disabled" asp-area="" asp-controller="Ka200" asp-action="Report_Previous"><<</a>
            @if(@TempData["gaitoM"] != null){ 
            <label style="font-size: 25px;shape-margin: 0;">@TempData.Peek("gaitoM")</label>
            }
            <a class="btn-primary" id="buttonbackground" style="font-size: 25px; @Disabled" asp-area="" asp-controller="Ka200" asp-action="Report_Next">>></a>
        </center>
    </div>
    <br>
    <table class="table table-bordered">
        <thead style="background-color: rgb(79,129,189); color: white; font-weight: bold; font-size:15px;text-align: center;">
            <tr>
                <th>帳票名</th>
                <th>決裁ステータス</th>
                <th>会社名</th>
                <th>作成者E-mail</th>
                <th>作成者名</th>
                <th>決裁予定日</th>
                <th>最終修正日</th>
                <th colspan="2">備考</th>

            </tr>
        </thead>
        @if (@Model.Count() == 0)
        {
            <tr arlign="center">
                <td colspan="8" bgcolor="#E6E6E6" align="center" height="100px"><b>条件に合う帳票リストがありません。</b></td>
            </tr>
        }
        else
        {
            <tbody style="font-size:13px;">
                @foreach (Ka200Dto item in Model)
                {
                    <tr id="kisu">
                        <td>@item.txtAtTblNm</td>
                        <td>@item.txtApvlSts</td>
                        <td>@item.drpbxSrchComCd</td>
                        <td>@item.txtWrtMail</td>
                        <td>@item.txtWrtrNm</td>
                        <td>@item.txtApvlDtPlan</td>
                        <td>@item.dtChgeDay</td>
                        <td>
                            <form method="post" asp-controller="Ka500" asp-action="event_Initial">
                                <input type="hidden" class="form-control" name="reportId" asp-for="@item.reportId">
                                <input type="hidden" class="form-control" name="templetId" asp-for="@item.templeteId">
                                <input type="hidden" class="form-control" name="btnFlg" asp-for="@item.btnFlg">
                                @if (item.btnFlg)
                                {
                                    <button id="btnApvl" type="submit" class="btn btn-warning">決裁</button>
                                }
                                else
                                {
                                    <button id="btnSlct" type="submit" class="btn btn-primary">照会</button>
                                }
                            </form>
                        </td>
                        <td>
                            <form method="post" asp-controller="Ka200" asp-action="event_download">
                                <input type="hidden" class="form-control" name="file_name" asp-for="@item.file_name">
                                <input type="hidden" class="form-control" name="file_binary" asp-for="@item.file_binary">
                                <input type="hidden" class="form-control" name="report_file_size" asp-for="@item.report_file_size">
                                <input type="hidden" class="form-control" name="reportId" asp-for="@item.reportId">
                                <input type="hidden" class="form-control" name="templeteId" asp-for="@item.templeteId">
                                <button id="btnDwnld" type="submit" class="btn btn-primary">ダウンロード</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</body>
