@using Hanyokessai.Models
@model IEnumerable<Data>

@{
    ViewData["Title"] = "Test4";
}
<div class="text-center">
    <h1 class="display-4">汎用決裁テスト </h1>
    <h3 class="display-4"> 会員一覧 </h3>
    <p>Personテーブルのデータ（DB値）</p>
    <ul>
        @foreach (var data in Model)
        {
            <li>ID : @data.id < 이름 : @data.Name, 나이 : @data.Age, 휴대폰 : @data.Phone, 이메일 : @data.Email></li>

        }
    </ul>
    <br>
    <a class="nav-link text-dark" asp-area="" asp-controller="Test" asp-action="index">戻る(index ページ)</a>
    <br>
</div>